# Hugging Face model endpoint
NEXT_PUBLIC_HF_SPACE_ID=hakimgans/ventoree
NEXT_PUBLIC_MODEL_PREDICTION_ENDPOINT=/api/model-prediction
HF_SPACE_ID=hakimgans/ventoree
HF_API_URL_BASE=
HF_API_NAME=predict
HF_TOKEN=

# Firebase client config
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
